<form role="form" ng-submit="addBlog()">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Tytul</label>
    <div class="col-sm-10">
      <input type="text" ng-model="blog.title" class="form-control" id="title" placeholder="Tytuł twojego wpisu"/>
    </div>
  </div>
  <div class="form-group">
    <label for="txt" class="col-sm-2 control-label">Tresc</label>
    <div class="col-sm-10">
      <textarea rows="4" cols="50" class="form-control" id="txt" placeholder="Tresc twojego wpisu"> </textarea>
    </div>

  </div>
  <div class="form-group">
    <label for="author" class="col-sm-2 control-label">autor</label>
    <div class="col-sm-10">
      <input type="text" ng-model="blog.author" class="form-control" id="author" placeholder="Kto jest autorem wpisu?"/>
    </div>
  </div>

  <div class="form-group">
    <label for="tags" class="col-sm-2 control-label">tagi</label>
    <div class="col-sm-10">
      <input type="text" ng-model="blog.tags" class="form-control" id="tags" placeholder="tagi"/>
    </div>
  </div>

  <div class="form-group">
    <label for="short_desc" class="col-sm-2 control-label">krotki opis</label>
    <div class="col-sm-10">
      <input type="text" ng-model="blog.short_desc" class="form-control" id="short_desc" placeholder="krotki opis"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
  </div>
</form>
