<div class="row">

  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


    <div class="post-preview" ng-repeat="blog in bloglast.content">
      <a href="post.html">
        <h2 class="post-title">
          {{ blog.title }}
        </h2>
      </a>
      <h3 class="post-subtitle">
        {{ blog.txt }}
      </h3>
      <p class="post-meta">Napisane przez <a href="#">{{ blog.author }}</a> on {{ blog.date }}</p>
      <hr>
    </div>



  </div>
</div>


